@using FirstProject.Models
@model List<Product>

@{
    ViewData["Title"] = "Tüm Ürünler";
}

<h2>@ViewData["Title"]</h2>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ürün Adı</th>
                <th>Stok Adedi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@product.ProductName</td>
                    <td>@product.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Hiç ürün bulunamadı.</p>
}
