@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<title>Admin Panel</title>
@* @TempData["email"] *@
@ViewBag.HgAdmin
<h2>Hoşgeldin Admin</h2>
<a href="/Home/Logout">Log out</a>